# Normally you don't ignore this file, but it's nice to ignore it for the examples
.fpxconfig

# generated
openapi.json
dist/

# deps
node_modules/
.wrangler

# env
.env
.env.production
.dev.vars
.pre.vars
.prod.vars

# misc
.DS_Store

# Alchemy
.alchemy/
